<!--
  snippets/navigation.html.liquid

  This template is a custom snippet that can be included into other liquid templates. 
  It has all the same liquid functionality of the other templates but you can create 
  as many of them as you want.

  The contents of this template are rendered where `include` is
  called. See http://developer.rusic.com/ for more details.
-->
<ul class="nav masthead-nav">
  <li class="active"><a href="{{ space.permalink }}">All ideas</a></li>
  <li><a href="{{ space.permalink }}/pages/about">About</a></li>
</ul>
